.row{
    --bs-gutter-x:0px;
}
.newUsersDetails{
    width: auto;
    overflow-y: scroll;
    height: 330px;
    font-size: 12px;
}
.newUsersDetails .row{
    border-bottom: 1px solid black;
}
.user-online-icon {
    background-color: green;
  }
  .user-offline-icon {
    background-color: blue;
  }
.user-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: -5px 0px 0px 26px;
}
  img{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
    .details-padding{
      padding: 20px;  
  }
  #user-Name{
    font-weight: 700;
    font-size: 14px;
  }