.cards-details,.table-details,.new-user-details {
 background-color: #ffff;
}
.new-user-details{
    margin: auto;
}
.charts-content{
    padding: 10px;
    margin:auto;
    margin-top: 30px;
    margin-left: unset;
    background-color: #ffff;
}
.top-cards-details{
    padding-left: unset;
}